#hero {
  margin-top: 100px;
}
.btn-add , .btn-add:hover {
  color: #55C34D;
  border: 2px solid #55C34D;
  background-color: transparent;
  padding: 3px 10px;
}
.btn-edit , .btn-edit:hover {
  color: #44BBFF;
  border: 2px solid #44BBFF;
  background-color: transparent;
  padding: 3px 10px;
}
.collapse-toggle {
  font-size: 17px;
}
.inuse {
  color: #F07818;
}
.flagged {
  color: #E91818;
}
.avail {
  color: #27AE60;
}
.delete {
  font-size: 15px;
  border-radius: 50%;
  background-color: #E91818;
  color: white;
  padding: 4px;
  cursor: pointer;
  text-align: center;
  width: 30px;
  height: 30px;
  margin-left: 25px;
  margin-top: 10px;
}
.btn-upload {
  background-color: white;
  color: #44BBFF;
  border:2px solid #44BBFF;
  border-radius: 5px; 
  font-size: 15px;
  font-weight: 600;
  padding: 3px 10px;
}
.btn-upload:hover{
  color: white;
  background-color: #44BBFF;
}
.btn-login {
  background-color: #27AE60;
  color: white;
  font-size: 13px;
  font-weight: 600;
  width: 50%;
}
.btn-loginForce {
  background-color: #FF7416;
  color: white;
  font-size:13px;
  width: 50%;
}
.btn-flagged {
  background-color: #E91818;
  color: white;
  font-size: 13px;
  font-weight: 600;
  width: 50%;
}
.btn-dwnload {
  background-color: white;
  color: #808080;
  border:2px solid #808080;
  border-radius: 5px; 
  font-size: 15px;
  font-weight: 600;
  padding: 3px 10px;
}
.btn-dwnload:hover{
  background-color: #808080;
  color: white;
}
.btn-signout {
  background-color: white;
  color: #E91818;
  border:2px solid #E91818;
  border-radius: 5px; 
  font-size: 15px;
  font-weight: 600;
  padding: 3px 10px;
}
.btn-signout:hover{
  background-color: #E91818;
  color: white;
}
.user-info {
  text-align: center;
  font-size: 18px;
}
.mail-skype {
  margin-left: 10px;
  color: #3D8EB9;
}
.mail-skype span {
  padding-left: 5px;
}

.child-row:hover .mini-delete{
  display: inline-block;
}

.mini-delete {
  font-size: 15px;
  border-radius: 50%;
  background-color: #E91818;
  color: white;
  padding: 4px;
  cursor: pointer;
  text-align: center;
  margin-top: 5px;
  margin-left:50px;
  display: none;
}

.mini-delete i{
  width: 21px;
}

.child-row{
  border: 2px solid #999999;
  padding: 10px 12px 10px 12px;
  border-radius: 2px;
}
.child-row:not(:last-child){
  border-bottom: none;
}
.btn-login:hover,
.btn-loginForce:hover,
.btn-flagged:hover,
.btn-dwnload:hover,
.btn-signout:hover {
  color: white;
}

.count{
  width:23%;
  display:inline-block;
  box-sizing:border-box;
  text-align: center;
  font-size:15px;
  font-weight: 600;
}

.collapse-bar{
  background-color: #F0F1F5;
  padding: 10px 0px 10px 0px;
}

.world{
  font-weight: 600;
  color: #595959;
  font-size: 15px;
  text-align: center;
  line-height: 3;
  width: 66%;
}
.world span:first-child{
  float: left;
}
.world span:last-child{
  float: right;
}
.collapse-content{
  padding:0px 15px 0px 15px;
}

.location{
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: #595959;
  text-transform: capitalize;
  float: left;
  padding-top: 4px;
}

.location span:nth-last-child(2){
  margin-left: 11px;
}

.location span>a{
  text-decoration: underline;
}

.user ,.mail-skype{
  font-size: 18px;
}
.user-icon{
  font-size: 20px;
  color: #2C82C9;
}
.website{
  font-weight: 600;
  text-align: center;
  color: #595959;
  text-transform: capitalize;
  line-height: 2;
}

.token-status{
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  line-height: 3;
}

span.on-hold{
margin-left: 10px;
}
