#hero {
  margin-top: 100px;
}
.btn-add , .btn-add:hover {
  color: #55C34D;
  border: 2px solid #55C34D;
  background-color: transparent;
  padding: 3px 10px;
}
.btn-edit , .btn-edit:hover {
  color: #44BBFF;
  border: 2px solid #44BBFF;
  background-color: transparent;
  padding: 3px 10px;
}
 
.block-1 {
  margin-top: 10px;
}
.block-1 p,
.child-block-2 p {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #595959;
  text-transform: capitalize;
}
.block-1 .fa-angle-up,
.block-1 .fa-angle-down {
  font-size: x-large
}
.block-2 {
  margin-top: 20px;
}
.block-2 p {
  display: inline-block;
  padding-right: 15px;
  font-size: medium;
  font-weight: 600;
  color: #595959;
}
.block-3 div {
  display: inline-block;
  padding-right: 20px;
  font-size: medium;
  font-weight: 600;
}
.inuse {
  color: #F07818;
}
.flagged {
  color: #E91818;
}
.avail {
  color: #27AE60;
}
.delete {
  font-size: 20px;
  border-radius: 50%;
  background-color: #E91818;
  color: white;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}
.parent-row > div {
  padding-top: 10px;
  background-color: #F0F1F5;
  border-radius: 2px;
}
.btn-upload {
  color: #44BBFF;
  border: 2px solid #44BBFF;
  background-color: transparent;
  padding: 3px 10px;
  font-size: 15px;
}
.btn-login {
  background-color: #27AE60;
  color: white;
  font-size: 13px;
  font-weight: 600;
  width: 50%;
}
.btn-loginForce {
  background-color: #FF7416;
  color: white;
  font-size:13px;
  width: 50%;
}
.btn-flagged {
  background-color: #E91818;
  color: white;
  font-size: 13px;
  font-weight: 600;
  width: 50%;
}
.btn-dwnload {
  background-color: #808080;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 3px 10px;
}
.btn-signout {
  background-color: #E91818;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 3px 10px;
}
.child-block-2,
.child-block-3,
.child-block-4 {
  padding-top: 10px;
  text-align: center;
}
.child-block-3 p {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
.user-info {
  text-align: center;
  font-size: 18px;
}
.mail-skype {
  margin-left: 10px;
  color: #3D8EB9;
}
.mail-skype span {
  padding-left: 5px;
}
.mini-delete {
  transition: all .3s linear 0s;
  font-size: 20px;
  border-radius: 50%;
  background-color: #E91818;
  color: white;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}
.child-block-4 p:nth-child(2) {
  font-size: medium;
}
.child-row .row {
  border: 2px solid #999999;
  padding: 10px 0px 10px 0px;
  border-radius: 2px;
}
.child-row:not(:last-child) .row {
  border-bottom: none;
}
.btn-login:hover,
.btn-loginForce:hover,
.btn-flagged:hover,
.btn-dwnload:hover,
.btn-signout:hover {
  color: white;
}

.count{
  width:24%;
  display:inline-block;
  box-sizing:border-box;
  text-align: center;
  font-size:15px;
  font-weight: 600;
}

.collapse-bar{
  background-color: #F0F1F5;
  padding: 20px 5px 20px 5px;
}

.world{
  font-weight: 600;
  color: #595959;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
}

.collapse-content{
  padding:0px 30px 0px 30px;
}

.location{
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #595959;
}

.user,.mail-skype{
  font-size: 18px;
}
.user-icon{
  font-size: 20px;
  color: #2C82C9;
}
.website{
  font-weight: 600;
  text-align: center;
  color: #595959;
  text-transform: capitalize;
  line-height: 2;
}

.token-status{
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  line-height: 3;
}
